/* global */
img{
    max-width: 100%;
	height: 100%;
}

.btn-style, #submit {
  background:#c13033;
  display:inline-block;
  border:0;
  border-radius:5px;
  padding:15px 30px;
  font-size:16px;
  text-transform:uppercase;
  color:$white;
  &:hover {
    background:#c20408;
    text-decoration:none;
    color:$white;
  }
}

.carousel-control.left, 
.carousel-control.right{
    background: none;
    opacity: 1;
    &:hover{    
        opacity: .7;
    }
}

.carousel-control{
    font-size: 70px;
    top: 43%;
}

.referenceCSS { padding-left: 30px; text-indent: -30px; }
.blog-detail iframe { display: block; text-align: center; margin: 0 auto; }

.nav-area.sticky, .blog .nav-area,
.single .nav-area, .archive .nav-area {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999999;
    
}

div.wpcf7-validation-errors {
    border: 2px solid red;
    color: red;
}

.g-recaptcha{
    display: inline-block;
}

/* END global */

/* navbar */

.nav-area{
    background: $red;
    padding: 15px;
    opacity: .8;
    .navbar{
        margin: 0;
        img{
            float: left;
        }
    }
}    

.nav-area.sticky, .blog .nav-area,
    .single .nav-area, .archive .nav-area {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:999999;
        
    }
#navbar{
    font-family: $lora;
    font-size: 16px;
    img{
        float: left;
    }

    ul{
        float: right;

        @media (max-width: $screen-xs-max){
            width: 100%;
        }
        li{
	    display: inline-block;
            text-transform: uppercase;
            padding: 9px;
	    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
              padding: 9px 0;
            }	
            @media (max-width: $screen-xs-max){
                border-bottom: 1px solid rgb(169, 165, 165);
		width: 100%;
            }
            a{
                 &:hover{
                    background: none;
                    color: $pink;
                }
		 &:focus,&:active{
                    background: none;
                }
                @media (max-width: $screen-xs-max){
                    color: $pink;
                    width: 110px;
                }  
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                  padding: 10px;
                }    
            }          
        }
        li.active{
            a{
                color: $pink;
                &:hover{
                    background: none;
                }
            }        
        }
	.current_page_item,
        .current-menu-item,
        .current_page_parent{
            a{
                color: $pink;
                &:hover{
                    background: none;
                }
                &:active, &:focus{
                   background: none;
                }
             }     
        } 
    }
}
.navbar-toggle .icon-bar{
    background: $black;
}

/* end navbar */

/* Footer */ 
#footer{
    background-color: $flesh;
    color: $black;
    padding-bottom: 50px;
    h2{
        @media screen and (max-width: $screen-xs-max){
            text-align:center;
        }
    }
    p{
        color:$black;
        line-height: 30px;
        @media screen and (max-width: $screen-xs-max){
            text-align:center;
            color:$black;
        }
    }
    ul{
        padding:50px 0 50px;
        width:100%;
        @media screen and (max-width: $screen-xs-max){
            text-align:center;
        }
        li{
            display:inline-block;
        }
    } 
    .fa{
        font-size:22px;
        margin:0 16px 0 0;
        border-radius: 8px;
        background: $white;
        color:$dark-gray;
        width: 40px;
        height: 40px;
        padding: 9px 11px 11px 11px;
        @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            margin:0 21px 0 0;
        }
        &:hover, &:focus, &:active{
            color:$white;
            background: $dark-gray;
            transition:.5s;
        }
        @media screen and (max-width: 480px ) {
            margin:0 3px 0 0;
        }
    }
    .black{
        padding: 135px 50px 90px 20px;
         @media screen and (max-width: $screen-xs-max){
            padding: 50px;      
        }
        @media (max-width: 500px){
            padding: 0;
        }
    }
    .white{
        padding: 90px 20px 90px 50px;
        @media screen and (max-width: $screen-xs-max){
            padding: 50px;
            p{
                color: $black;
            }        
        }
        @media (max-width: 500px){
            padding: 0;
        }
    }
    .footer-wrapper{
        .copyright{
            p{
                font-size: 16px;
                margin: 0 auto;
                text-align: center;
                padding: 35px;
                background: $light-blue;
                color: #fff;
                a{
                    color: $black;
                }
            }
        }
    } 
    .copyright{
        p{
            font-family: $opensans;
            font-size:16px;
            span{
                background:url(../images/litfire-logo.png)no-repeat 0 2px;
                display:inline-block;
                padding:0 0 0 28px;
            }
        }     
        .fa{
            font-size:4px;
            margin:0 3px; 
            vertical-align:middle;
        }
        a{
            color:$black;
            transition:.5s;
            text-decoration:none;
            @media (max-width: $screen-xs-max){
                 color:$black;
            } 
            &:hover{
                text-decoration: underline;
            }
            &:focus,&:active{
                text-decoration: none;
            }
        }
    }
    form {
        .check-submit {
            label {
                display:inline-block;
                float:left;
                text-align:left;
                font-weight:normal;
            }
            .btn-submit {
                float:right;
                text-align:right;
                color:$white;
                padding:20px 40px;      
                font-family:$opensans;
                font-size:18px;
                background:#fff;                
                border-radius:5px;
                transition:.5s;
                display:inline-block;
                cursor:pointer;
                &:hover, &:focus, &:active{
                    background:$black;
                    text-decoration:none;
                    cursor:pointer;
                }
                .btn-style{
                    border:0;
                    background:none;
                }
            }
        }
        @media screen and (max-width: $screen-xs-max){
            padding:0 0 50px;
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        /* padding:65px 0; */
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    textarea { 
        border: none;
        border: 1px solid $red; 
        /* box-shadow: 0 2px 1px $light-gray; */
        height:50px; 
        box-sizing:border-box; 
        padding:15px; 
        width:100%; 
        font-size:15px;
        color:$white; 
        background:$white;
        transition: all 0.3s ease 0s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        border-radius:0;
        margin:0 0 10px;    
    }
    input:focus,
    textarea:focus {
        box-shadow:0 0 11px #bababa inset;
        outline:0;
    }
    textarea { 
        height:150px !important; 
    }
    input[type=checkbox] { 
        display:none; 
    } 
    input[type="checkbox"] + span {
        color:$black;
        position:relative;
        font-size:15px;
        font-family:$opensans;
    }
    input[type=checkbox] + span:before{ 
        content:' '; 
        width:16px; 
        height:16px; 
        margin:3px 10px 0 0; 
        border:1px solid #d1d1d1; 
        background:#f6f6f6; 
        line-height:16px; 
        text-align:center; 
        border-radius:3px;
        letter-spacing: 10px; 
        font-family: FontAwesome;
        display: inline-block;
        vertical-align:top;
    } 

    input[type=checkbox]:checked + span:before { 
        content: "\f00c"; 
        width:16px; 
        height:16px; 
        margin:3px 10px 0 0; 
        color:$white; 
        border:1px solid #d1d1d1; 
        font-size:14px; 
        background:#f6f6f6; 
        border-radius:3px;
    } 
    input[type=checkbox]:checked + span:before { 
        letter-spacing: 5px; 
    } 

    .btn-style{
        padding: 14px 36px !important;
        /* border: 2px solid $black;*/
        display: inline-block;
        font-size: 16px;
        color: $white;
        text-align: right;
        float: right;

        &:hover{
            text-decoration: underline;
        }
        &:active, &:focus{
            text-decoration: none;
        }
    }
}

#footer #menu-footer-social-media li a {
    font-size: 22px;
    margin: 0 16px 0 0;
    border-radius: 8px;
    color: #282d30;
    width: 40px;
    height: 40px;
    display:block;
}
#footer #menu-footer-social-media li a:hover {
    background: none;
    width: 39px;
    height: 39px;
    color: #fff;
}
#footer #menu-footer-social-media li a .fa {
    background:none;
    width:auto;
    height:auto;
    
}
#footer #menu-footer-social-media li.goodreads a .fa {
    position:relative;
    top:-4px;
}
.fa.fa-goodreads{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    padding: 23px 11px 11px 28px!important;
}

/* end Footer */


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
