/* global */
img{
    max-width: 100%;
	height: 100%;
}

.btn-style, #submit {
  background:#c13033;
  display:inline-block;
  border:0;
  border-radius:5px;
  padding:15px 30px;
  font-size:16px;
  text-transform:uppercase;
  color:$white;
  &:hover {
    background:#c20408;
    text-decoration:none;
    color:$white;
  }
}

.referenceCSS { padding-left: 30px; text-indent: -30px; }
.blog-detail iframe { display: block; text-align: center; margin: 0 auto; }

.nav-area.sticky, .blog .nav-area,
.single .nav-area, .archive .nav-area {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999999;
    
}

div.wpcf7-validation-errors {
    border: 2px solid red;
    color: red;
}

.g-recaptcha{
    display: inline-block;
}

/* END global */

/* navbar */

    .nav-area{
        background: rgba(255,255,255,.9);
    }   

.nav-area.sticky, .blog .nav-area,
    .single .nav-area, .archive .nav-area {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:999999;
        
    }
#navbar{
    font-family: $lora;
    font-size: 16px;
    img{
        float: left;
    }

    ul{
        float: right;

        @media (max-width: $screen-xs-max){
            width: 100%;
            background: rgba(255,255,255,.4);
        }
        li{
	    display: inline-block;
            text-transform: uppercase;
            padding: 9px;
	    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
              padding: 9px 0;
            }	
            @media (max-width: $screen-xs-max){
                border-bottom: 1px solid rgb(169, 165, 165);
            }
            a{
                 &:hover{
                    background: none;
                    color: $pink;
                }
		 &:focus,&:active{
                    background: none;
                }
                @media (max-width: $screen-xs-max){
                    color: $pink;
                    background: $white;
                    width: 110px;
                }  
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                  padding: 10px;
                }    
            }          
        }
        li.active{
            a{
                color: $pink;
                &:hover{
                    background: none;
                }
            }        
        }
	.current_page_item,
        .current-menu-item,
        .current_page_parent{
            a{
                color: $pink;
                &:hover{
                    background: none;
                }
                &:active, &:focus{
                   background: none;
                }
             }     
        } 
    }
}
.navbar-toggle .icon-bar{
    background: $black;
}

.navbar-header{
    float: right;
}
/* end navbar */


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
