/* global */

@media (min-width: 1440px){
    #banner, 
    .nav-area, 
    #about-book, 
    #book-reviews, 
    #about-author, 
    #order, 
    #footer, 
    #footer-content{
        max-width: 1440px;
        margin: 0 auto;
    }
    
}

p{
    margin-bottom: 35px;
    line-height: 30px;
}

img{
    max-width: 100%;
	height: 100%;
}

.btn-style, #submit {
  background:#c13033;
  display:inline-block;
  border:0;
  border-radius:5px;
  padding:15px 30px;
  font-size:16px;
  text-transform:uppercase;
  color:$white;
  &:hover {
    background:#c20408;
    text-decoration:none;
    color:$white;
  }
}

.carousel-control.left, 
.carousel-control.right{
    background: none;
    opacity: 1;
    &:hover{    
        opacity: .7;
    }
}

.carousel-control{
    font-size: 70px;
    top: 43%;
}

.referenceCSS { padding-left: 30px !important; text-indent: -30px !important; font-size:13px !important;}
.referenceCSS a { text-transform:inherit !important; word-wrap: break-word !important; font-size:13px !important;}
.blog-detail iframe { display: block; text-align: center; margin: 0 auto; }

.nav-area.sticky, .blog .nav-area,
.single .nav-area, .archive .nav-area {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999999;
    
}

div.wpcf7-validation-errors {
    border: 2px solid red;
    color: red;
}

.g-recaptcha{
    display: inline-block;
    float: right;
    @media screen and (max-width:330px){
         .g-recaptcha {transform:scale(0.96);-webkit-transform: scale(0.96);transform-origin:0 0;-webkit-transform-origin:0 0;}
    }
}

/* END global */

/* section banner */

#banner{
    background: url("../images/banner-bg.png") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	
    .banner-wrapper{
        
    }
}

/* END section banner */

/* navbar */

.nav-area{
    background: $red;
    padding: 15px;
    opacity: .8;
    .navbar{
        margin: 0;
        img{
            float: left;
        }
    }
}    

.nav-area.sticky, .blog .nav-area,
    .single .nav-area, .archive .nav-area {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:999999;
        
    }
#navbar{
    font-family: $lora;
    font-size: 16px;
    img{
        float: left;
    }

    ul{
        float: right;

        @media (max-width: $screen-xs-max){
            width: 100%;
        }
        li{
	    display: inline-block;
            text-transform: uppercase;
            padding: 9px;
	    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
              padding: 9px 0;
            }	
            @media (max-width: $screen-xs-max){
                border-bottom: 1px solid rgb(169, 165, 165);
		width: 100%;
            }
            a{
                 &:hover{
                    background: none;
                    color: $pink;
                }
		 &:focus,&:active{
                    background: none;
                }
                @media (max-width: $screen-xs-max){
                    color: $pink;
                    width: 110px;
                }  
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                  padding: 10px;
                }    
            }          
        }
        li.active{
            a{
                color: $pink;
                &:hover{
                    background: none;
                }
            }        
        }
	/*.current_page_item,
        .current-menu-item,
        .current_page_parent{
            a{
                color: $pink;
                &:hover{
                    background: none;
                }
                &:active, &:focus{
                   background: none;
                }
             }     
        } */
    }
}
.navbar-toggle .icon-bar{
    background: $black;
}

/* end navbar */

/* section about book */

#about-book{
    background: url("../images/book-bg.png") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	
    .about-book-wrapper{

        
    }
}

/* END section about book */

/* section book reviews */

#book-reviews{
    background: url("../images/reviews-bg.png") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	
    .reviews-wrapper{
    
    }
}

/* END section book reviews */

/* section about author */

#about-author{
    background: url("../images/author-bg.png") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	
     .about-author-wrapper{
    
    }
}

/* END section about author */

/* section order */

#order{
    background: url("../images/order-bg.png") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	
     .order-wrapper{
	
     }
}

/* END section order */

/* Footer */ 
#footer{
    background-color: $flesh;
    color: $black;
    padding-bottom: 50px;
    h2{
        @media screen and (max-width: $screen-xs-max){
            text-align:center;
        }
    }
    p{
        color:$black;
        line-height: 30px;
        @media screen and (max-width: $screen-xs-max){
            text-align:center;
            color:$black;
        }
    }
    ul{
        padding:50px 0 50px;
        width:100%;
        @media screen and (max-width: $screen-xs-max){
            text-align:center;
        }
        li{
            display:inline-block;
        }
    } 
    .fa{
        font-size:22px;
        margin:0 16px 0 0;
        border-radius: 8px;
        background: $white;
        color:$dark-gray;
        width: 40px;
        height: 40px;
        padding: 9px 11px 11px 11px;
        @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            margin:0 21px 0 0;
        }
        &:hover, &:focus, &:active{
            color:$white;
            background: $dark-gray;
            transition:.5s;
        }
        @media screen and (max-width: 480px ) {
            margin:0 3px 0 0;
        }
    }
    .black{
        padding: 135px 50px 90px 20px;
         @media screen and (max-width: $screen-xs-max){
            padding: 50px;      
        }
        @media (max-width: 500px){
            padding: 0;
        }
    }
    .white{
        padding: 90px 20px 90px 50px;
        @media screen and (max-width: $screen-xs-max){
            padding: 50px;
            p{
                color: $black;
            }        
        }
        @media (max-width: 500px){
            padding: 0;
        }
    }
    .footer-wrapper{
        .copyright{
            p{
                font-size: 16px;
                margin: 0 auto;
                text-align: center;
                padding: 35px;
                background: $light-blue;
                color: #fff;
                a{
                    color: $black;
                }
            }
        }
    } 
    .copyright{
        p{
            font-family: $opensans;
            font-size:16px;
            span{
                background:url(../images/litfire-logo.png)no-repeat 0 2px;
                display:inline-block;
                padding:0 0 0 28px;
            }
        }     
        .fa{
            font-size:4px;
            margin:0 3px; 
            vertical-align:middle;
        }
        a{
            color:$black;
            transition:.5s;
            text-decoration:none;
            @media (max-width: $screen-xs-max){
                 color:$black;
            } 
            &:hover{
                text-decoration: underline;
            }
            &:focus,&:active{
                text-decoration: none;
            }
        }
    }
    form {
        .check-submit {
            label {
                display:inline-block;
                float:left;
                text-align:left;
                font-weight:normal;
            }
            .btn-submit {
                float:right;
                text-align:right;
                color:$white;
                padding:20px 40px;      
                font-family:$opensans;
                font-size:18px;
                background:#fff;                
                border-radius:5px;
                transition:.5s;
                display:inline-block;
                cursor:pointer;
                &:hover, &:focus, &:active{
                    background:$black;
                    text-decoration:none;
                    cursor:pointer;
                }
                .btn-style{
                    border:0;
                    background:none;
                }
            }
        }
        @media screen and (max-width: $screen-xs-max){
            padding:0 0 50px;
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        /* padding:65px 0; */
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    textarea { 
        border: none;
        border: 1px solid $red; 
        /* box-shadow: 0 2px 1px $light-gray; */
        height:50px; 
        box-sizing:border-box; 
        padding:15px; 
        width:100%; 
        font-size:15px;
        color:$white; 
        background:$white;
        transition: all 0.3s ease 0s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        border-radius:0;
        margin:0 0 10px;    
    }
    input:focus,
    textarea:focus {
        box-shadow:0 0 11px #bababa inset;
        outline:0;
    }
    textarea { 
        height:150px !important; 
    }
    input[type=checkbox] { 
        display:none; 
	} 
	input[type="checkbox"] + span {
		color:#fff;
		position:relative;
		font-size:15px;
		display:block;
		  vertical-align:middle;

	}
	input[type=checkbox] + span:before {
	  font-family: FontAwesome;
	  display:inline-block;
	  vertical-align:middle;
	}
	input[type=checkbox] + span:before { 
		content:' '; 
		width:22px; 
		height:22px; 
		margin:0 10px 0 0; 
		border:0; 
		line-height:17px; 
		text-align:center; 
		border:2px solid #fff;
		border-radius:3px;
	} 
	input[type=checkbox] + span:before { 
		letter-spacing: 10px; 
	} 
	input[type=checkbox]:checked + span:before { 
		content: "\f00c"; 
		width:22px; 
		height:22px; 
		margin:0 10px 0 0; 
		color:#fff; 
		border:0; 
		font-size:17px; 
		border:2px solid #fff;
		border-radius:3px;
	} 
	input[type=checkbox]:checked + span:before { 
		letter-spacing: 5px; 
	} 
    .btn-style{
        padding: 10px 29px !important;
        /* border: 2px solid $black;*/
        display: inline-block;
        font-size: 16px;
        color: #1a1a1a;
        text-align: right;
        float: right;
	margin: 6px 16px;

        &:hover{
            text-decoration: underline;
        }
        &:active, &:focus{
            text-decoration: none;
        }
    }
}	
