
$opensans : 'Open Sans';
$roboto : 'Roboto';
$lora : 'Lora';

$black : #000;
$white : #fff;
$red : red;
$pink : pink;
$flesh: flesh;
$gold : gold;
$light-blue : rgb(0,146,198);

$dark-gray : gray;
$light-gray : gray;
$dark-blue : blue;
