.blog, .search, .archive, .category, .single{
    li.active,
    li.current_page_item,
    li.current-menu-item,
    li.current_page_parent {
        a{
            color: $gold !important;
            &:focus, &:active{
                text-decoration: none;
            }
        }
    }
}

.blog, .single, .archive, .error404, .search{
	h3{
		font-family: $lora;
		color: $light-blue;
	} 
	h4{
		margin-bottom: 25px;
	    text-align: center;
	    font-size: 42px;
	    color: $light-blue;
	}
	.blog-content{
		padding-top: 100px;
	} 
}

#comments a, .reply, 
.navigation a{
	color: #474545;
}

.nav-previous {
	&:before{
		content: "\00ab";
		font-size: 24px;
   		margin-right: 5px;
	}
}

.nav-next {
	&:after{
		content: "\00bb";
		font-size: 24px;
    	margin-left: 5px;
	}
}

.blogpost-row {
    border-bottom: 2px solid rgba(188, 187, 187, 0.26);
    margin:50px 0 0;        
    padding:20px;
    .blog-title{
    	font-family: $lora;
    	font-size: 30px;
    	font-weight: bold;
    }
    .img-cont {        
            margin: 0 auto;
            text-align: center;
            img {
                    display: inline-block;
            }
    }
    .text-cont {
            @media screen and (max-width: $screen-sm-max) {
                    padding:20px 0 25px;
            }
            h3 {                
                    strong a {
                            color: #473028;
                            &:hover {
                                    opacity:0.7;
                            }
                    }
            }
            .date-author {
                    margin:10px 0 15px;
                    color: #888888;
                    span {
                            display:inline-block;
                            background:url('../images/spiriti.png') no-repeat 0 0;
                            /* padding:0 0 0 30px; */
                            @media screen and (max-width: $screen-xs-max) {
                                    /* display:block; */
                                    float:none !important;
                            }
                    }
                    .date {
                            background-position:5px -21px;
                    }
                    .name {
                            background-position:8px -63px;
                            margin:0 30px 0 0;
                            @media screen and (max-width: $screen-xs-max) {
                                    margin:10px 0 0;
                            }
                    }
            }                
            p {

            }
            a.btn-style{
        		float: right;
        		font-family: $opensans;
        		font-size: 16px!important;
        		padding: 20px 16px!important;
        		border-radius: 10px;
        	}
            .btn-wrapper {
                    margin: 0 auto;
                    text-align: right;
                    .btn-style {        
                            display: inline-block;                                                                        
                            font-size: 17px;
                            font-weight: 500;
                            color: $white;
                            border-radius:8px;
                            width: 170px;
                            text-transform: uppercase;                                        
                            &:hover {
                                    text-decoration:none;
                            }
                    }
            }
    }
}
.blogpost-row:first-child {
    margin:0;
}

.blog-pagination {
	width:100%;
	margin:25px 0 0;
	padding:25px 0 100px;
	h2 {
		display:none
	}
	.nav-links {
		display:block;
		a {
			font-size:20px;
			text-transform:capitalize;
			&:hover {
				color:$black;
			}
		}
		.nav-next {
			float:right;
			a {
				text-align:left;
			}
		}
		.nav-previous {
			float:left;
			 a {
				text-align:right;
			}
		}
	}
}

.blog-search{
	/* .widget, */ h3 {
	  	padding-top: 20px;
	    position:relative;
	    &:before {
	      position:absolute;
	      top:0;
	      left:0;
	      right:0;
	      width:100%;
	      height:1px;
	      background:rgb(187,187,187); 
	      content:' ';
	      margin:0 auto;
	    }
	}
	ul{
		list-style: none;
	    margin-bottom: 25px;
	    padding: 0;
	    li{
	    	margin-bottom: 5px;
	    	a{
	    		color: $black;
	    	}
	    }
	}
	form {
		position:relative;
		input {
			border:1px solid $light-blue;
			color:#888888;
			width:80%;
			float:left;
			height:50px;
			box-shadow:none;
			font-size:18px;
			width:100%;
			border-radius:6px;
		}
		.input-group-addon {
			border:0;
			padding:0;
			button#search {
				width:60px;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px; 
				border: 0;
				background:$light-blue;
				color:$white;
				font-size:30px;
				height:50px;
				line-height:50px;
				text-align:center;
				float:left;
				&:hover {
					background:#293453 ;
				}
			}
		}
		label.sr-only {
			display:none;
		}
	}
	::-webkit-input-placeholder { 
		color:#888888;
		font-size:18px; 
	}
	:-ms-input-placeholder { 
		color:#888888;
		font-size:18px; 
	}
	::-moz-placeholder { 
		color:#888888;
		opacity: 1; 
		font-size:18px;
	}
	:-moz-placeholder { 
		color:#888888;
		opacity: 1; 
		font-size:18px; 
	}
}


 .recent-posts-2 h3:before {
    background:none !important;
  }




.recent-posts-2{
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7; 
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    padding: 30px 30px 1px 30px;
    background: #fff;
}
.archives-2{
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7; 
    padding: 0 30px 1px 30px;
    background: #fff;
}
.categories-2{
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7; 
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    padding: 0 30px 30px 30px;
    background: #fff;
}

.widget.recent-posts-2.widget_recent_entries{
	margin-top: 40px;
}

.recent-posts-2, .archives-2, .categories-2  {
	h3 {
		font-size:30px;
		color:$light-blue;
		margin: 0;
		 /* Small devices (tablets, 768px and up) */
	    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
	      font-size:25px;
	    }
	}
	ul {
		padding:0;
		li {
			list-style:none;
			text-align:left;
			margin-top: 10px;
			a {
				transition: all 0.5s ease;
				font-size: 16px;
				color:$black;
				&:hover {
					color:$light-blue;
				}
			}
			&:first-child {
				padding:0;
			}
		}
	}
} 
